.countries {
    // border: 1px solid red;
    margin: 230px auto;
    display: flex;
    flex-wrap: wrap;


    
    
    @media (max-width: 991px) {
        flex-direction: column;
        row-gap: 2em;
        width: 90%;
    }
    
    @media (min-width: 992px){
        column-gap: 4%;
        row-gap: 3.2em;
    }
    @media (min-width: 1200px) {
    }
}